# EXAMEN FINAL

## Parte 1 - Presentación ( 5 puntos )
 
Presenta tus resultados en una libreta de Jupyter de manera clara y concisa. Deberás explicar tu método de resolución, el algoritmo, las gráficas y/o DataFrame final y las conclusiones.

   ## Parte 2 - Preámbulo ( 5 puntos )

In [9]:
# PRIMER PASO... IMPORTAR utilerias requeridas para soportar el analisis y la obtencion de datos
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Obtener el archivo.csv con el que se trabajara, en este caso es: mortalidad.csv 
# Se hace una copia del archivo original para trabajar sobre ella
# Se le asigno el nombre de MortalidadMaterna
MortalidadMaterna = pd.read_csv('mortalidad.csv')
MortalidadMaterna.head()

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

In [31]:
# Analisar las columnas para determinar que columnas quitar y hacer un mejor analisis

revisargenero = MortalidadMaterna['Genero'].unique()
print(revisargenero)  # arroja un unico valor de 2, todas son mujeres, no es necesario tenerlo

revisar = MortalidadMaterna['Clave de la edad'].unique()
print(revisar)  # arroja un unico valor de 'A', todas son mujeres son mujeres con clave A, no es necesario tenerlo

revisar2 = MortalidadMaterna['Razón de mortalidad materna'].unique()
print(revisar2)  # arroja un dos valores (1,0), que son descritos en 'Descrición de la razón de mortalidad materna'
revisarDescripcion = MortalidadMaterna['Descrición de la razón de mortalidad materna'].unique()
print(revisarDescripcion)  # arroja un dos valores que describen si se considera o no: razon de mortalidad materna

revisarannio = MortalidadMaterna['Año de la base de datos'].unique()
print(revisarannio)  # arroja los años en que se registro el dato

[2]
['A']
[1 0]
['Muertes Maternas para la razón de Mortalidad Materna'
 'Muertes Maternas excluidas para la razón de Mortalidad Materna']
[2002 2005 2003 2008 2013 2012 2009 2010 2011 2004 2006 2007 2014 2015
 2016]

## Parte 3 - Análisis inicial (20 puntos)

- Nombre de los encabezados 
- Muestra un DataFrame que contenga: Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia
- ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes. 
- Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos? 
- ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos? 
- ¿Qué entidad tiene mayor número muertes?

## Nombre de encabezados y su listado en DataFrame

In [32]:
# Parte 3.1 : Imprimir los nombres de los encabezados
lista_encabezados_csv= []   # creo una lista vacia para guardar ahi los encabezados y listarlos al final
for encabezados in MortalidadMaterna:
    lista_encabezados_csv.append(encabezados)
pd.DataFrame(lista_encabezados_csv)  # imprime la lista de los encabezados

                                                   0
0                                  Año de nacimiento
1                                  Mes de nacimiento
2                  Descripción del mes de nacimiento
3                                  Día de nacimiento
4                                             Genero
5                                   Clave de la edad
6                                      Edad cumplida
7                                    Estado conyugal
8                    Descripción del estado conyugal
9                              Entidad de residencia
10              Descripción de entidad de residencia
11                           Municipio de residencia
12           Descripción del municipio de residencia
13                           Localidad de residencia
14          Descripión de la localidad de residencia
15                               Tamaño de localidad
16               Descripción del tamaño de localidad
17                                Ocupación habitual
18              Descripción de la ocupación habitual
19                                       Escolaridad
20                     Descripción de la escolaridad
21                                 Derechiahabiencia
22                Descrición de la derechiahabiencia
23                             Entidad de ocurrencia
24           Descripción de la entidad de ocurrencia
25                           Municipio de ocurrencia
26            Descrición del municipio de ocurrencia
27                           Localidad de ocurrencia
28          Descrición de la localidad de ocurrencia
29                  Sitio donde ocurrio la defunción
30  Descripción del sitio donde ocurrio la defunción
31                               Año de la defunción
32                               Mes de la defunción
33                Descrición del mes de la defunción
34                               Día de la defunción
35                              Hora de la defunción
36                           Minutos de la defunción
37                                 Asistencia médica
38               Descripción de la asistencia médica
39                        Causa CIE a  cuarto dígito
40                        Descrición de la causa CIE
41                                   Quien certificó
42                     Descrición de quien certificó
43                               Entidad de registro
44              Descrición de la entidad de registro
45                             Municipio de registro
46              Descrición del municipio de registro
47                                   Año de registro
48                                   Mes de registro
49                   Descripción del mes de registro
50                                   Día de registro
51                           Año de la certificación
52                           Mes de la certificación
53            Descripció del mes de la certificación
54                           Día de la certificación
55                           Año de la base de datos
56                       Razón de mortalidad materna
57      Descrición de la razón de mortalidad materna

## LISTADO CON COLUMNAS REQUERIDAS Y MOSTRADAS EN DATAFRAME

In [45]:
# Parte 3.2 : Muestra un DataFrame que contenga: 
# Edad cumplida, Descripción del estado conyugal, 
# Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia

pd.DataFrame(MortalidadMaterna, columns=('Edad cumplida','Descripción del estado conyugal','Tamaño de localidad','Localidad de ocurrencia'))

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia
0,29,CASADO,9,1
1,35,CASADO,9,1
2,29,CASADO,4,1
3,36,CASADO,1,1
4,30,CASADO,0,0
5,30,CASADO,0,0
6,20,CASADO,12,0
7,27,CASADO,15,1
8,43,CASADO,1,1
9,31,CASADO,13,1
10,31,CASADO,13,1
11,35,CASADO,3,1
12,39,CASADO,3,1
13,29,CASADO,9,1
14,45,CASADO,14,1
15,42,CASADO,1,1
16,17,CASADO,14,1
17,35,CASADO,1,126
18,39,SE IGNORA,14,1
19,43,CASADO,15,1
20,38,CASADO,13,1
21,36,CASADO,14,1
22,26,CASADO,1,1
23,17,CASADO,14,1
24,21,CASADO,1,656
25,22,CASADO,6,1
26,45,CASADO,14,1
27,43,CASADO,13,1
28,26,CASADO,15,1
29,40,CASADO,6,1
...,...,...,...,...
17202,25,SOLTERO,5,1
17203,39,CASADO,1,97
17204,27,CASADO,8,1
17205,30,UNION LIBRE,5,1
17206,31,CASADO,4,1
17207,33,CASADO,5,1
17208,30,CASADO,1,1
17209,16,SOLTERO,4,1
17210,34,VIUDO,4,1
17211,16,UNION LIBRE,15,1
17212,26,UNION LIBRE,5,1
17213,21,UNION LIBRE,15,1
17214,32,CASADO,13,1
17215,21,SOLTERO,6,1
17216,25,UNION LIBRE,2,1
17217,27,UNION LIBRE,3,1
17218,23,UNION LIBRE,1,1
17219,29,CASADO,1,1
17220,16,SOLTERO,2,1
17221,27,UNION LIBRE,6,1
17222,27,UNION LIBRE,5,1
17223,37,CASADO,2,1
17224,26,SOLTERO,1,1
17225,23,UNION LIBRE,2,1
17226,27,SOLTERO,5,1
17227,20,SOLTERO,10,1
17228,45,CASADO,2,1
17229,21,SOLTERO,5,1
17230,39,CASADO,2,1
17231,25,CASADO,13,1

In [51]:
# Parte 3.3 : ¿Cuántas edades diferentes tenían las madres cuando fallecieron? 
EdadesDiferentes = MortalidadMaterna['Edad cumplida'].unique()
pd.DataFrame(EdadesDiferentes)

      0
0    29
1    35
2    36
3    30
4    20
5    27
6    43
7    31
8    39
9    45
10   42
11   17
12   38
13   26
14   21
15   22
16   40
17   44
18   34
19   41
20   33
21   13
22   24
23   25
24   37
25   19
26   23
27   32
28   28
29  998
30   15
31   46
32   48
33   16
34   18
35   12
36   47
37   14
38   51
39   50
40   54
41   49
42   11
43   53
44   81
45   70
46   82
47   59
48   86
49   65

In [52]:
# Obten los estadísticos para esta columna y los valores de las edades diferentes.
MortalidadMaterna['Edad cumplida'].describe()

count    17232.000000
mean        29.765727
std         36.916010
min         11.000000
25%         22.000000
50%         28.000000
75%         34.000000
max        998.000000
Name: Edad cumplida, dtype: float64

## Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos?

In [57]:
# parte 3.4 imprimir valores de los años de defuncion

YearsDefuncion = MortalidadMaterna['Año de la defunción']
pd.DataFrame(YearsDefuncion)

       Año de la defunción
0                     2002
1                     2002
2                     2002
3                     2002
4                     2005
5                     2005
6                     2005
7                     2005
8                     2002
9                     2002
10                    2003
11                    2002
12                    2008
13                    2002
14                    2005
15                    2005
16                    2005
17                    2013
18                    2013
19                    2013
20                    2012
21                    2013
22                    2009
23                    2009
24                    2010
25                    2009
26                    2011
27                    2011
28                    2011
29                    2011
...                    ...
17202                 2016
17203                 2016
17204                 2016
17205                 2016
17206                 2016
17207                 2016
17208                 2016
17209                 2016
17210                 2016
17211                 2016
17212                 2016
17213                 2016
17214                 2016
17215                 2016
17216                 2016
17217                 2016
17218                 2016
17219                 2016
17220                 2016
17221                 2016
17222                 2016
17223                 2016
17224                 2016
17225                 2016
17226                 2016
17227                 2016
17228                 2016
17229                 2016
17230                 2016
17231                 2016

[17232 rows x 1 columns]

In [58]:
YearsDefuncion.describe()

count    17232.000000
mean      2008.224466
std         16.151184
min          0.000000
25%       2005.000000
50%       2008.000000
75%       2012.000000
max       2016.000000
Name: Año de la defunción, dtype: float64

In [66]:
# ¿ Existen datos que son lógicos, es decir, están correctos?
# segun la tabla de analisis estadistico, hay valores 0, quiere decir que no estan correctos todos los valores, 
# ya sea por omision o por error no se capturaron debidamente
YearsDefuncion.min()

0

¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?

In [77]:
#  se analiza la informacion de la columna Escolaridad...
Escolaridad = MortalidadMaterna['Escolaridad'].unique()
CuantosNiveles = len(Escolaridad)
print('Hay ',CuantosNiveles,' encontrados en la base de datos, sin embargo hay 2 de ellos que son NO ESPECIFICADOS')
print('Por lo que al total de', CuantosNiveles, 'se deberan restar 2, quedando ',(CuantosNiveles-2),'niveles registrados correctamente')
pd.DataFrame(Escolaridad)  

# con los resultados se puede observar un campo 0 que puede interpretarse como que falta el valor... se analizara como
#  complemento la descripcion de dicho nivel...

Hay  11  encontrados en la base de datos, sin embargo hay 2 de ellos que son NO ESPECIFICADOS
Por lo que al total de 11 se deberan restar 2, quedando  9 niveles registrados correctamente

     0
0    2
1    4
2    7
3    1
4    5
5    0
6   10
7    3
8    6
9   11
10  12

In [72]:
#  como complemento al analisis de escolaridad, 
# la descripcion tambien arroja 2 datos de 'NO ESPECIFICADO' y 'NO ESPECIFICADO\r\n'
Descrip_Escolar = MortalidadMaterna['Descripción de la escolaridad'].unique()
pd.DataFrame(Descrip_Escolar)

                                         0
0                      PRIMARIA INCOMPLETA
1                    SECUNDARIA INCOMPLETA
2                              PROFESIONAL
3                                  NINGUNA
4                      SECUNDARIA COMPLETA
5                          NO ESPECIFICADO
6                                 POSGRADO
7                        PRIMARIA COMPLETA
8     BACHILLERATO O PREPARATORIA COMPLETA
9   BACHILLERATO O PREPARATORIA INCOMPLETA
10                     NO ESPECIFICADO\r\n
11                              PREESCOLAR

#### ¿Hay datos innecesarios o equivocados en la base de datos? 
Si, hay datos que son equivocados en la base de datos, porque se registraron como NO ESPECIFICADOS'

#### ¿Qué entidad tiene mayor número muertes?

In [105]:
# se revisa la xolumna de Descripcion de la Entidad y cuantas veces se repite cada una, con la funcion value_count()
Entidades = MortalidadMaterna['Descripción de la entidad de ocurrencia']
CuantasMuertes = len(Entidades)
Entidad_mas_muerte = Entidades.value_counts()  # se obtiene el numero de la Entidad que mas muertes regstro
MasMuerteRegistrada = Entidad_mas_muerte.max()  # se obtiene el total numero de muertes registrado en la Entidad con mas muertes

print('La Entidad que mas muertes registro es la ',Entidad_mas_muerte)
print()
print('con un numero de ', MasMuerteRegistrada, ' de', CuantasMuertes,'registradas')

La Entidad que mas muertes registro es la  México                             1913
Distrito Federal                   1892
Veracruz de Ignacio de la Llave    1218
Chiapas                            1163
Puebla                             1028
Guerrero                            934
Jalisco                             854
Oaxaca                              845
Guanajuato                          694
Chihuahua                           655
Michoacán de Ocampo                 626
Tamaulipas                          415
Nuevo León                          409
Hidalgo                             396
Tabasco                             391
Baja California                     373
San Luis Potosí                     373
Coahuila de Zaragoza                314
Sonora                              305
Yucatán                             301
Sinaloa                             294
Durango                             246
Morelos                             238
Querétaro Arteaga                   212
Zacatecas                           205
Quintana Roo                        178
Tlaxcala                            163
Nayarit                             162
Aguascalientes                      150
Campeche                            124
Baja California Sur                  69
Querétaro                            47
Colima                               42
Estados Unidos de Norteamérica        3
Name: Descripción de la entidad de ocurrencia, dtype: int64

con un numero de  1913  de 17232 registradas

# PARTE NO REALIZADA
## falta tiempo en mi caso, una disculpa!

## Parte 4 - Búsqueda de datos (25 puntos + 5 puntos extra )
 
Imprime 2 DataFrames que sinteticen cierta información. Estos DataFrames deberán estar explicados con el contexto y el razón de porque son relevantes. Imprime solo el encabezado. 

Puntos extra: Entrega un análisis simple de cada DataFrame
 
 ## Parte 5 - Información gráfica (40 puntos + 20 puntos extra)

- Realiza un analísis utilizando una gráfica de línea

- Realiza un análisis de la relación entre dos variables. 

- Realizar un análisis donde se necesite usar histogramas. 

- Presenta un análisis utilizando una gráfica de barras de los indicadores para múltiples paises. (PUNTOS EXTRA) 

- Realicen una análisis de correlación para 4 variables (PUNTOS EXTRA) (¿Scatter or density?)